* {
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 25px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.hero {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 8vw;
}
.hero-small {
    font-size: 12px;
    letter-spacing: 4px;
    margin: 0 0 25px 0;
}
.hero h1 {
    font-size: clamp(70px, 13vw, 180px);
    line-height: 0.78;
    letter-spacing: -8px;
    margin: 0;
}
.hero-text {
    font-size: 16px;
    font-weight: bold;
    margin: 45px 0 30px 0;
    max-width: 400px;
}
.hero-button {
    display: inline-block;
    width: fit-content;
    color: black;
    background: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.15s;
}
.hero-button:hover {
    background: black;
    color: white;
    outline: 1px solid white;
}
.featured {
    padding: 120px 8vw;
    border-top: 1px solid white;
}
.featured-label {
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}
.featured-shirt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}
.frame {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;

    background: #777;

    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.6);
}
.frame-art {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: block;

    object-fit: contain;

    z-index: 2;
    pointer-events: none;
}
.frame-opening {
    position: absolute;

    left: 17%;
    right: 17%;
    top: 17%;
    bottom: 17%;

    background: #777;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    z-index: 1;
}
.frame-opening img {
    width: 100%;
    height: auto;

    display: block;
}
.frame-back {
    transform: rotate(3deg);
}
.featured h2 {
    font-size: clamp(50px, 9vw, 120px);
    line-height: 0.85;
    letter-spacing: -5px;
    margin: 45px 0 15px 0;
}

.featured > p:last-child {
    font-size: 14px;
    letter-spacing: 2px;
}
